.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: none;
  background-color: white;
}

.kakao {
  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
  border-radius: 37.333px;
  background: #fee500;
}

.facebook {
  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
  border-radius: 37.333px;
  background: #1877f2;
}

.link {
  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
  border-radius: 37.333px;
  background: rgba(157, 157, 157, 0.04);
}
